<h1>Films#index</h1>
<p>Find me in app/views/films/index.html.erb</p>


<table>
  <thead>
    <tr>
      <th>Pelicula</th>
      <th>Año</th>
      <th>Numero</th>
      <th>Direstor</th>
      <th>Produstor</th>
    </tr>
  </thead>

  <tbody>
    <% @films.each do |f|%>
      <tr>
        <td><a href="/films/<%=f["episode_id"]%>"><%= f["title"] %></a><br> </td>
        <td><%=f["release_date"] %></td>
        <td><%= f[ "episode_id"] %></td>
        <td><%= f["director"] %></td>
        <td><%= f["producer"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
